body{
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	font-family: arial, sans-serif;
	color: #ffffff;
}
#wrapper{
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: white;
}
.header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;
	width: 82%;
	margin: 6% auto;
	font-family:'Pathway Gothic One';
	font-size: 1.8em;
	text-transform: uppercase;
}
.logo{
	position: relative;
	width: 170px;
	margin-bottom: -10%;
	line-height: 170px;
	left: 8.3%;
	bottom: 40px;
	background-color: #ffffff;
	border-radius: 50%;
	transform: translate(-50%);
	text-align: center;
	font-family: 'Dorsa';
	font-size: 60px;
	color: #263555;
}
.nav-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;
	flex-direction: row;
	margin: auto 0;
}
.nav-menu-item{
	display: block;
	margin: auto;
}
.nav-menu-item:nth-child(2){
	margin: 0 2em;
}
.nav-menu-item--active:hover{
	color: #263555;
}
.nav-menu-item{
	position: relative;
}
main{
	background-color: #ffffff;
	padding: 6%;
}
h2 {
	margin-top: 5%;
	font-family: 'Pathway Gothic One';
	font-size: 2em;
	text-transform: uppercase;
	color: #263555;
}
.slider-content{
	position: relative;
	font-family:'Pathway Gothic One';
	text-transform: uppercase;
}
.slider-content>.slider-phrase-1{
	position: absolute;
	top: 218px;
	padding: 20px 15px;
	display: inline-block;
	background-color: #ffffff;
	border: 1px solid #efefec;
	font-size: 22.41px;
	color: #263555;
	z-index: 50;
}
.slider-content>.slider-phrase-2{
	position: absolute;
	top: 283px;
	padding: 17px;
	display: inline-block;
	background-color: #38afe5;
	font-size: 34.42px;
	color: #ffffff;
	z-index: 50;
}
.slider{
	position: relative;
	overflow: hidden;
	width: 902px;
	height: 580px;
}
.slider > input,
.slider > label {
	display: none;
}
.slider > input:checked + div + label:after {
	content: url(../img/slider-1.png);
	position: absolute;
	right: 7px;
	top:36px;
	z-index: 100;
}
.slider > input:checked + div + label + label:after {
	content: url(../img/slider-2.png);
	position: absolute;
	left: 7px;
	top:36px;
	z-index: 100;
}
.slider > input:checked + div + label{
	position: absolute;
	top: 475px;
	left: 36px;
	display: inline-block;
	height: 90px;
	width: 45px;
	background-color: #39afe5;
	border-radius: 45px 0 0 45px;
	cursor: pointer;
	z-index: 50;
}
.slider > input:checked + div + label + label {
	position: absolute;
	top: 475px;
	left: 81px;
	display: inline-block;
	background-color: #39afe5;
	height: 90px;
	width: 45px;
	border-radius: 0 45px 45px 0;
	cursor: pointer;
	z-index: 50;
}
.slider > input:checked + div + label:hover,
.slider > input:checked + div + label + label:hover{
	background-color: rgba(56,125,179,0.85);
}
.slider > div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
.slider > div {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.slider > input:checked + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
.destination-content{
	padding-bottom: 137px;
}
.list-item{
	position: relative;
	margin-top: 50px;
}
.list > ul > .list-item{
	display: inline-block;
	padding-right: 15px;
}
.list > ul > .list-item:nth-child(3){
	padding-right: 0;
}
.info{
	position: absolute;
	top:0;
	left: 0;
	visibility: hidden;

	transition-property:
			background-color;
	transition-duration: 2s;
}
.name{
	text-align: center;
	padding: 21px 0;
	font-family: 'Open Sans Condensed';
	font-size: 30px;
	text-transform: uppercase;
}
.inform{
	padding: 0 8px;
	line-height: 15px;
	font-size: 10px;
}
.buttom{
	position: absolute;
	bottom: 20px;
	left: 70px;
	height: 20px;
	width: 60px;
	text-align: center;
	line-height: 18.25px;
	background-color: #fbf6f9;
	border:1px solid #5a626f;
	border-radius: 3px;
	font-size: 12px;
}
.buttom > a {
	text-decoration: none;
	color: black;
}
.list-item:hover > .info{
	visibility: visible;
	opacity: 1;

	width: 147px;
	height: 270px;
	background-color: #30455b;
	transition-property:
			background-color;
	transition-duration: 2s;
	color: #cbc6c6;
}

.content-3{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
.content-3-1{
	flex-basis: 65%;
	width: 65%;
	align-self: flex-start;
	line-height: 19px;
}
.content-3-border{
	border:1px solid #e1dfdf;

}
.content-3-1 > ul{
	display: inline-flex;
	flex-direction: row;
	border:1px solid #e1dfdf;
	border-bottom: none;

}
.content-3-1 > ul > li {
	width: 125px;
	text-align: center;
	padding: 10px 0;
	background: #fcfafa;
	padding: 10px 0;
	font-family:'Pathway Gothic One';
	font-size: 20px;
	color:  #6b7488;
	text-transform: uppercase;
}
.content-3-1 > ul > li:nth-child(2){
	border-right: 1px solid #e1dfdf;
	border-left: 1px solid #e1dfdf;
}
.content-3-1 > ul > li:nth-child(1){
	background: white;
	border-bottom: 1px solid white;
}
.content-3-1 > ul > li:nth-child(1) > a{
	color: #38afe5;

}
.content-3-2{
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 40px 15px;
	font-size: 10px;
	color:#4e5050;
	padding-bottom: 80px;
}
.content-3-2 > img{
	padding-right: 20px;
}
h4{
	font-size: 15px;
	color: #263555;
	padding-bottom: 20px;
}
.content-3-2 > div{
	display: flex;
	flex-direction: column;
}
.content-3-2 > div > p >.red{
	color: #fa7e7e;
}
.content-3-3{
	border-top: none;
}
.content-buttom{/*кнопка*/
	position: absolute;
	bottom: 40px;
	right: 0;
	margin-right: 30px;
	width: 60px;
	font-size: 12px;
	padding:  3px 0;
	text-align: center;
	background-color: #fbf6fa;
	border-radius: 4px;
	border:1px solid black;
	color: black;
}
.sidebar{
	flex-basis: 30%;
	width: 30%;
	align-self: flex-end;
	line-height: 19px;
	color: #263555;
	border:1px solid #e1dfdf;
}
h3{
	background: #fcfafa;
	border-bottom: 1px solid #e1dfdf;
	padding: 7px 0;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.sidebar > p{
	margin:0 15px;
	font-size: 15px;
	padding: 45px 0 20px 0 ;
}
.sidebar > form{
	text-align: center;
}
form > input[type="email"]{
	width: 200px;
	padding: 5px 25px;
	border:1px solid #efeded;
	border-radius: 3px;
	font-size: 12px;
}
.sidebar > ul{
	margin: 45px 15px;
}
.sidebar > ul > li{
	padding-bottom: 20px;
}
.sidebar > ul > li:before{
	content: url(../img/marker.png);
	margin-right: 15px;

}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom: 5%;
	background-color: #30455b;
	font-size: 1em;
	font-family: 'Open Sans Condensed';
	color: #fff;
	text-transform: uppercase;
}
.footer-list1,
.footer-list2{
	margin-top: 4%;
}
.footer-list2{
	width: 20%;
	margin-right: 20%;
	padding: 0;
}
.spesial__littel-mob{
	display: block;
}
.footer-list1__item,
.footer-list2__item{
	display: inline-block;
	box-sizing: border-box;
	width: 32%;
	height: 30px;
	vertical-align: text-top;
}
.footer-list2__item{
	width: 142%;
}
.littel{
	font-family: arial;
	font-size: 0.7em;
	text-transform: none;
}
.icons-container{
	text-align: center;
}
#after-footer{
	padding: 3% 0;
}
#after-footer > .littel{
	text-align: center;
	padding: 30px 0;
}
#svg {
	display: none;
}
.icon {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	fill: #3045ff;
}
.icon:hover{
	fill: #f5fffb;
}